{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Search video</div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                        <div class="form_group">
                            <div class="col-md-8 col-md-offset-2">
                                {{ form_row(form.search_string, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4" style="margin-top:5px;">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-btn fa-user"></i> Search
                                </button>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <table>
    {% for video in videos %}
        <tr>
            <td>{{video.snippet.title]}}</td>
            <td>{{video.id.videoId}}</td>
        </tr>
    {% endfor %}
        </table>
    </div>
{% endblock %}